<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multi-Fach - kompleksowa obsługa, dobre ceny i bezpieczny najem">
    <title>Multi-Fach - wypożyczalnia narzędzi i sklep budowlany</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</head>

<body>
    <header>
        <div id="header_content">
            {% if session.get('user') %}
            <a href="{{ url_for('admin_panel') }}" class="button_session">MF - Admin</a>
            <a href="{{ url_for('logout') }}" id="logout_button">Wyloguj</a>
            {% else %}
            <a href="{{ url_for('index') }}" class="button">Multi - Fach</a>
            {% endif %}
        </div>
    </header>
    <nav>
        <div id="inner_nav">
            <ul class="nav-menu">
                <li><a href="{{ url_for('index') }}">Strona Główna</a></li>
                <li><a href="{{ url_for('wypozyczalnia') }}">Wypożyczalnia</a></li>
                <li><a href="{{ url_for('uslugi') }}">Usługi</a></li>
                <li><a href="{{ url_for('sklep') }}">Sklep</a></li>
                <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
            </ul>
        </div>
    </nav>
    <div id="inner_body">
        <div id="inner_inner_body">
            <main>
                <div id="main_content">
                    <article>
                        <div id="inner_article">
                            <form id="login_form" action="{{ url_for('login') }}" method="POST">
                                <div class="form_group">
                                    <label for="email">E-mail:</label>
                                    <input type="email" id="email" name="email" required autocomplete="off">
                                </div>
                                <div class="form_group">
                                    <label for="login">Login:</label>
                                    <input type="password" id="login" name="login" required autocomplete="off">
                                </div>
                                <div class="form_group">
                                    <label for="code">PIN:</label>
                                    <input type="password" id="code" name="code" required autocomplete="off">
                                </div>
                                <div class="form_group">
                                    <label for="password">Hasło:</label>
                                    <input type="password" id="password" name="password" required
                                        autocomplete="current-password">
                                </div>
                                <button type="submit" class="login_btn">Zaloguj</button>
                            </form>
                        </div>
                    </article>
                    <section>
                        <div id="inner_section">
                            <address>
                                <a id="industry_name" href="{{ url_for('index') }}">Multi-Fach</a><br>
                                <span id="place">Ulica,<br>kod pocztowy</span><br>
                                <a id="tel" href="tel:+48123456789">123 456 789</a><br>
                                <a id="mail"
                                    href="mailto:mail@gmail.pl?subject=Zapytanie ze strony">mail</a>
                            </address><br>
                            <span id="industry_type">
                                Wypożyczalnia narzędzi<br>
                                Sklep budowolany
                            </span><br>
                            <span id="open_hours_title">
                                Godziny otwarcia:<br>
                            </span>
                            <span id="open_hours">
                                Pon. - Pt.: {{ pon_pt }}<br>
                                Sobota: {{ so }}<br>
                                Niedziela: Zamknięte
                            </span>
                        </div>
                        <a id="up">^</a>
                    </section>
                </div>
            </main>
        </div>
    </div>
    <footer>
        <div id="inner_footer">
            <div id="footer_content">{{ footer_content }}</div>
            <p id="copy">&copy; Multi-Fach 2025 Wszelkie prawa zastrzeżone.</p>
        </div>
    </footer>
</body>

</html>